
@import "variables.scss";

/*================== INICIO CSS CONTACTO ==================*/

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgba(83, 83, 83, 0.719);
  
    .divForm {
      display: flex;
      flex-direction: column;
      text-align: center;
  
      .boton {
        border: 2px solid rgba(0, 0, 0, 0.801);
        border-radius: 10px;
        transition: all 0.2s;
      }
  
      .boton:focus {
        background-color: #afafaf;
      }
    }
  }
  
  .gps {
    display: flex;
  }
  