

@import "variables.scss";

/*================== INICIO CSS FIXIE ==================*/

.fixie {
  @include parametrosDeTiulos;
  }
  
  .biciTitle {
    font-family: $tipografiaTitulos;
    text-align: center;
    text-shadow: none;
  }
  
  #artMainFixie {
    display: grid;
  
    .divbicis {
      
      @extend .divRemerasBici;
  
      .imgBici {
        border-radius: 10px;
        transition-duration: 0.3s;
        object-fit: cover;
        overflow: hidden;
      }
  
      .imgBici:hover {
        transform: scale(0.9);
      }
    }
  }
  
  .precio {
    text-align: center;
    text-shadow: none;
    font-weight: bold;
  }
  
  .pTitle {
    margin-top: 20px;
    text-align: center;
    font-size: 100%;
    font-weight: bolder;
    text-shadow: none;
  }
