

@import "variables.scss";

/*================== INICIO CSS INDUMENTARIA ==================*/

.indumentaria {
  @include parametrosDeTiulos;
  }
  
  #artMainIndumentaria {
    display: grid;
  
    .divRemera {
      
      @extend .divRemerasBici;

      .imgRemeras {
        border-radius: 10px;
        transition-duration: 0.3s;
        object-fit: cover;
        overflow: hidden;
      }
  
      .imgRemeras:hover {
        transform: scale(0.9);
      }
    }
  }
  