

/* Variables */

$colorTituloPrincipal:rgb(255, 255, 255);

$tipografiaTitulos:"iglesiaregular", sans-serif;

$bgTituloPrincipal: url(../img/callecongrafitis.jpg);

$bgProductos: rgb(160, 160, 160);

$colorLetraBotonComprar: rgb(255, 255, 255);

$bgBotonComprar:  rgb(105, 143, 82);

@mixin parametrosDeTiulos {

    overflow: hidden;
    text-decoration: none;
    text-align: center;
    color: $colorTituloPrincipal;
    font-family: $tipografiaTitulos;
    text-rendering: optimizeLegibility;
    font-weight: bold;
    background-image: $bgTituloPrincipal;
    background-size: cover;
    background-position: center;
    
}

@mixin fotosNosotros ( $boxSColorFotos ){

    object-fit: cover;
    border-radius: 20px;
    box-shadow: $boxSColorFotos;
}

@mixin fotosNosotrosMedia ( $widthFotosN, $heightFotosN, $marginL, $marginR ){
    width: $widthFotosN;
    height: $heightFotosN;
    margin-left:$marginL;
    margin-right:$marginR; 
}

.divRemerasBici{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: rgb(155, 155, 155);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.63);
  
}