

/* Variables */

$colorTituloPrincipal:rgb(255, 255, 255);

$tipografiaTitulos:"iglesiaregular", sans-serif;

$bgTituloPrincipal: url(../img/callecongrafitis.jpg);

$bgProductos: rgb(160, 160, 160);

$colorLetraBotonComprar: rgb(255, 255, 255);

$bgBotonComprar:  rgb(105, 143, 82);